node_modules
bower_components
.tmp
.sass-cache

*/Dist/
/temp/
.DS_Store

*/**/keys.js
*/logs/*
/Web/scripts/fbKey.js
/scratch/
/app/test.js
/app/config.json
/app/zwconfig/
/open-zwave/
/app/start.log
