node_modules
bower_components
.tmp
.sass-cache
scratch-*.*

*/Dist/
/temp/
.DS_Store

*/**/.AppleDouble
*/**/package-lock.json
*/**/keys.js
*/**/Keys.js
*/**/*.log
*/logs/*
/Web/scripts/fbKey.js
/scratch/
/app/sounds/
/app/config-backup/*
/app/test*.js
/app/config.json
/app/config-*.json
/app/state.json
/app/zwconfig/
/open-zwave/
/scratch/
/tools/*.csv
