html, body {
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
}

.now {
  text-align: center;
  font-size: 6em;
}

#tempIcon {
  height: 1.2em;
}

/* Carousel base class */
.carousel {
  height: 550px;
  margin-bottom: 20px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

.carousel-caption h1 {
  font-size: 6em;
}

.carousel-caption p {
  font-size: 2em;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 550px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 550px;
}

